@font-face {
    font-family: genshin;
    src: url(/src/assets/fonts/genshin.ttf);
}

* {
    font-family: genshin;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Large desktops 1440 x 1024 */
@media (max-width: 1440px) {

}

/* Laptops 1280 x 900 */
@media (max-width: 1280px) {

}

/* Tablets landscape / small laptops 1024 x 800 */
@media (max-width: 1024px) {

}

/* Tablets portrait 768 x 1024 */
@media (max-width: 768px) {

}

/* Large phones 480 x 900 */
@media (max-width: 480px) {

}

/* Small phones  360 x 740*/
@media (max-width: 360px) {

}